.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__wrap {
  display: flex;
  align-items: center;
}
.fighter-preview__info {
  width: 200px;
}

.fighter-preview__wrap p {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}